<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
    <add name="appDatabase" 
         connectionString="data source=myDataSource; initial catalog=myDataBase; integrated security=true;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>